html, body {
    color: black;
    margin: 0px;
    font-size: 1em;
    scroll-behavior: smooth;
    font-family: 'Solway', serif;
}

a {
    text-decoration: none;
    color: black;
}

.white {
    color: #F5F5F5;
}

#navig {
    position: -webkit-sticky;
    position: sticky;
    display: inline-flex;
    width: 100%;
}

.sticky {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0px;
    position: sticky;
    background: rgb(56, 56, 56);
}

#contact {
    text-align: right;
    width: 100%;
    margin-right: 20px;
}

li {
    list-style: none;
    padding: 20px;
}

.container {
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

#main-page {
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 3em;
    width: 100vw;
    height: 92vh;
    align-items: center;
}

#headline:hover {
    color: #B00000;
}

#rnavbar {
    background: red;
    width: 74.5%;
    color: black;
    height: 86.5vh;
}

#lnavbar {
    background: cyan;
    width: 25%;
    height: 86.5vh;
    font-size: 0.8em;
}

.searchbtn {
    background: rgba(232, 236, 241, 1);
}

.attributes-search {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
}

.title {
    padding: 13px;
}

.checkboxes {
    display: inline-block;
    flex-direction: column;
    font-size: 0.7em;
    margin-bottom: 20px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.attributes-dropdown {
    position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.attributes-dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.attributes-dropdown:hover .dropbtn {
    background-color: #3e8e41;
}